server{
    listen 8081;
    listen [::]:8081;

    server_name {{ first_website_name}}.com www.{{ first_website_name}}.com;

    root /var/www/{{ first_website_name}}.com;
    index index.html index.htm;

}

server{
    listen 8082;
    listen [::]:8082;

    server_name {{ second_website_name}}.com www.{{ second_website_name}}.com;

    root /var/www/{{ second_website_name}}.com;
    index index.html index.htm;

}
server {
    listen 443 ssl;
    listen [::]:443 ssl;

    ssl_certificate /etc/nginx/certs/sites.crt;
    ssl_certificate_key /etc/nginx/certs/sites.key;


    location /shop/ {
        proxy_pass http://localhost:8081/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect default;
    }

   location /travel/ {
        proxy_pass http://localhost:8082/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect default;
    }
}
