Listen {{ portnumber1 }}
<VirtualHost *:{{ portnumber1 }}>
        ServerAdmin webmaster@{{ website1 }}
                ServerName {{ website1 }}
                ServerAlias www.{{ website1 }}
                DocumentRoot {{ path1 }}
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

