Listen {{ portnumber2 }}
<VirtualHost *:{{ portnumber2 }}>
        ServerAdmin webmaster@{{ website2 }}
                ServerName {{ website2 }}
                ServerAlias www.{{ website2 }}
                DocumentRoot {{ path2 }}
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>

