Listen {{ portnumber2 }}
<VirtualHost *:{{ portnumber2 }}>
        ServerAdmin webmaster@{{ website2 }}
                ServerName {{ website2 }}
                ServerAlias www.{{ website2 }}
                DocumentRoot {{ path2 }}
        ErrorLog /etc/httpd/error_log
        CustomLog /etc/httpd/access_log combined
</VirtualHost>

