server {
    listen 443 ssl;
    listen [::]:443 ssl;

    server_name {{ website1 }} www.{{ website1 }};

    root /var/www/{{ website1 }};
    index index.html index.htm;

    ssl_certificate /etc/nginx/certs/cert1.pem;
    ssl_certificate_key /etc/nginx/certs/privkey1.pem;

}
